<%= render "shared/components/hero_section" %>
<div class="section features-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="description pl-4">
            <h5 class="title">高速道路標識画像を作成する</h5>
            <p>
              会員登録などはなく簡単に高速道路標識画像を作成できます。
            </p>
            <%= link_to "作成する", new_document_path, class: 'text-info' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">他の人の高速道路標識をみる</h5>
            <p>
              他の人が作った高速道路標識画像を見ることもできます。
              また気に入ったらTwitterでシェアもできます。
            </p>
            <%= link_to "高速道路標識いちらん", documents_path, class: 'text-info' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">画像を保存する</h5>
            <p>
              あなたや他の人が作った高速道路標識は保存することができます。<br>
              保存方法はシェアボタンの横のダウンロードボタンを押すだけ。
            </p>
            <%= link_to "ぶんしょいちらんから保存する", documents_path, class: 'text-info' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">フォントについて</h5>
            <p>
              こちらはフリーフォントの<a href="https://github.com/adobe-fonts/source-han-sans/tree/release/SubsetOTF" target="_blank" rel="noopener">「源ノ角ゴシック」</a>を使用しております。<br>
              素晴らしいフォントのおかげでこのサイトも生まれました。<br>
              ありがとうございます。
            </p>
            <a href="https://github.com/adobe-fonts/source-han-sans/tree/release/SubsetOTF" class="text-info" target="_blank" rel="noopener">フォントのページにいく</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5" src="/argon/assets/img/ill/ill.png" width="100%">
      </div>
    </div>
  </div>
</div>